// Файл для переменных
$container-width: 1230px;
$white: #ffffff;
$blue: #b4d4e0;
$dark-blue: #3a494c;
$green: #9cd6a7;
$light-gray: #f0f1f0;
$gray: #a2a3a3;
$red: #e1b8c7;
$yellow: #fed67f;
$gutter: 1.05rem;